.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(99, 95, 95, 0.007);
  position: absolute;
  width: 100%;
  top: 0;
}
