.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 6em;
}

.container1 {
  margin-top: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vw;
  padding: 0 1px;
  
}


.heading {
  font-weight: 700;
  margin-top: 1px;
  font-size: 1rem;
  color: transparent;
  background: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
}

.h1 {
  margin: 0px;
  margin-top: 10px;
  background:#ffffff; 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0px;
  font-size: 4rem;
  line-height: 4rem;
}

.explain {
  margin: 5px 10px 1px;
  color: #fff;
  font-size: Min(12vw, 15px);
  font-style: normal;
  margin-right: 450px;
  font-weight: 300;
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: -34px;
  overflow: visible;
  letter-spacing: -0.05em;
}
.txtsimples {
  margin: 4px 500px 0px;
  color: #fff;
  font-size: Min(12vw, 20px);
  margin-top: -60px;
  font-style: normal;
  font-weight: 700;
  width: 1000px;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.conteudo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vw;
  text-decoration:none; 
  padding: 0 1px;
  
}

.txtconteudo {
  margin: 4px 500px 0px;
  color: #fff;
  font-size: Min(12vw, 20px);
  margin-top: 660px;
  font-style: normal;
  font-weight: 700;
  width: 1000px;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.voltar {
  margin-top: 0px;
  margin-bottom: px;
  color: #fff;
  font-size: Min(12vw, 15px);
  max-width: 100px;
  font-style: normal;
  text-decoration:none; 
  font-weight: 700;
  letter-spacing: 1.2px;
  margin-left: -220px;
  text-align: center;
  letter-spacing: -0.05em;
}
.voltar:hover,
.voltar:focus,
.voltar:active {
  background-color: #272c34;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 9px;
}

.txtsimples3 {
  margin: 4px 500px 0px;
  color: #fff;
  font-size: Min(12vw, 20px);
  margin-top: -23px;
  font-style: normal;
  font-weight: 700;
  width: 1000px;
  padding: 0.5em;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.txtsimples2 {
  margin-top: 50%;
  margin-bottom: 50%;
  color: #fff;
  font-size: Min(12vw, 20px);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.grid {
  border-radius: 16px;
  margin-top: 1px;
  display: contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  
}

.grid1 {
  border-radius: 16px;
  width: 20%;
  display: contents;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  
  flex-wrap: wrap;
}
.tokenGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  width: 120px;
  text-decoration:none; 
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 0.1px 0;
}

.tokenGrid1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1%;
  text-decoration:none; 
  width: 1200px;
  max-width: 95vw;
  flex-wrap: wrap;
  margin: 0.1px 0;
}


.code {
  background: #030202;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.back {
  border: 1px #ffffff solid;
  border-radius: 9px;
  margin-left: -200px;
  text-decoration:none; 
  width: 140px;
  color: #ffffff;
  font-weight: 700;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -41px;
}
.back:hover,
.back:focus,
.back:active {
  background-color: #272c34;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 9px;
}

.next {
  border: 1px #ffffff solid;
  border-radius: 9px;
  color: #fff;
  text-decoration:none; 
  margin-left: 260px;
  font-weight: 700;
  width: 140px;
  padding: 0.5em;
  display: flex;
  flex-direction: center;
  align-items: flex-start;
  margin-top: 5px;
}
.next:hover,
.next:focus,
.next:active {
  background-color: #272c34;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 9px;
}

.card2 {
  border: 1px #ffffff solid;
  border-radius: 9px;
  margin-left: 490px;
  width: 80%;
  font-weight: 700;
  text-decoration:none; 
  color: #ffffff;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}
.card2:hover,
.card2:focus,
.card2:active {
  background-color: #272c34;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 9px;
}


.proxindex {
  border: 1px #ffffff solid;
  border-radius: 9px;
  font-weight: 700;
  width: 100%;
  color: #ffffff;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
}
.proxindex:hover,
.proxindex:focus,
.proxindex:active {
  background-color: #272c34;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 9px;
}
.ca {
  border: 1px #ffffff solid;
  border-radius: 9px;
  width: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3px;
}
.txtsimples12 {
  margin: 0px 0px 1px;
  color: #fff;
  font-size: Min(12vw, 15px);
  font-style: normal;

  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}
.txtsimples33{
  margin: 0px 0px 1px;
  color: #fff;
 margin-top: -55px;
  font-style: normal;

  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}
.ca1{
  border: 1px #ffffff solid;
  border-radius: 9px;
  width: 120%;
  height: 150%;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1px;
}


.card1 {
  border: 1px #ffffff solid;
  border-radius: 9px;
  width: 80%;
  padding: 0.5em;
  font-weight: 700;
  display: flex;
  color: #ffffff;
  flex-direction: row;
  overflow: visible;
  align-items: left;
  margin-top: 5px;
}

.card1:hover,
.card1:focus,
.card1:active {
  background-color: #272c34;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 9px;
}
.txtsimples1 {
  margin: 10px 10px 10px;
  color: #fff;
  font-size: Min(12vw, 15px);
  margin-left: 590px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-align: center;
  overflow: visible;
  letter-spacing: -0.05em;
}

.card2 {
  display: flex;
  justify-content: center;
}

.card h3 {
  margin: 0px;
  font-size: 20px;
  font-weight: 600;
}

.card p {
  margin: 0px;
  font-size: 14px;
  opacity: 70%;
  text-align: start;
}

.card > button {
  margin-top: 0px !important;
  width: 400px !important;
  height: 50px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.link {
  color: #ffffff;
}

.nft {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.nftDetails {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  align-items: flex-start;
}




@media screen and (max-width: 700px) {
  .connect,
  .card > button {
    width: 00% !important;
  }
}
